<div class="container">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>CNPJ/CPF</mat-label>
      <input matInput [(ngModel)]="fornecedor.cnpj_cpf" [disabled]="isUpdate">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="fornecedor.nome_fantasia">
    </mat-form-field>
    <br>
    <mat-checkbox class="checkbox-margin" [(ngModel)]="fornecedor.ativo">Ativo</mat-checkbox>
    <br>
    <button mat-raised-button color="accent" (click)="clickedButton()">{{isUpdate ? 'Atualizar' : 'Adicionar'}}</button>
    <button mat-raised-button (click)="back()">Voltar</button>
  </div>