table {
    width: 100%;
}

.container {
    margin: 10px;
}

.addButton {
    margin-bottom: 10px;
}

.mat-column-id {
    width: 10%;
}

.mat-column-vendedor {
    width: 25%;
}

.mat-column-forma_pagamento {
    width: 25%;
}

.mat-column-data {
    width: 15%;
}
.mat-column-valor {
    width: 10%;
}

.mat-column-status {
    width: 15%;
}

.mat-column-edit {
    width: 5%;
}

.mat-column-delete {
    width: 5%;
}