table {
    width: 100%;
}

.container {
    margin: 10px;
}

.addButton {
    margin-bottom: 10px;
}

.mat-column-id {
    width: 10%;
}

.mat-column-nome {
    width: 50%;
}

.mat-column-cnpj-cpf {
    width: 30%;
}

.mat-column-edit {
    width: 5%;
}

.mat-column-delete {
    width: 5%;
}