.container {
    margin: 10px;
}

.checkbox-margin {
    margin-bottom: 10px;
}

button {
    margin: 10px 10px 0 0;
}


.mat-column-id {
    width: 10%;
}

.mat-column-nome {
    width: 50%;
}

.mat-column-codigo {
    width: 20%;
}

.mat-column-valor {
    width: 10%;
}

.mat-column-parcial {
    width: 10%;
}

.mat-column-edit {
    width: 5%;
}

.mat-column-qtd {
    width: 10%;
}

.qtd-class {
    width: 40px;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}